$base-font-size: 16;
$base-padding: 2rem;
$base-font: Verdana, Geneva, Tahoma, sans-serif;
$base-color: linear-gradient(rgba(255, 202, 228, 0.966), rgb(107, 190, 196));
$error-color: rgb(223, 113, 113);
$max-width-container: 90rem;
$timing: 0.25s;
$modal-content-max-width: 45em;