.dash-board__container {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    background-image: $base-color;
    overflow: scroll;
  };
  